<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Registrations for <%= link_to(@event.name, @event) %></h1>
    </div>
  </div>

  <% @registrations.each do |r| %>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <%= mail_to(r.email, r.name) %>
      (<%= r.how_heard %>)
    </div>
  </div>
  <% end %>

</div>
